@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(123, 69, 223);
}

section {
  background-color: rgba(240, 248, 255, 0.674);
}

header {
  background-color: rgba(240, 248, 255, 0.674);
  margin-top: 0px;
}
